In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv('./data/train.csv')

# Analysis of Particular Items

In [6]:
item_numbers = [121964, 1421156, 1306197, 1909752, 
                1917879, 1353969, 1161555, 407499, 
                265559, 954796, 813760, 1695956,
                1028589, 1147731, 1076155, 315460,
                554145, 169104, 314880, 1726009]

In [42]:
first_item = df\
    .loc[df['item_nbr'] == item_numbers[9]]\
    .drop(['store_nbr', 'item_nbr', 'onpromotion', 'id'], axis=1)\
#    .set_index('date')

first_item = first_item.groupby('date').sum()
first_item.head()
#first_item.plot(y='unit_sales', kind='line', figsize=(20,10))

            unit_sales
date
2013-01-02        37.0
2013-01-03        34.0
2013-01-04        45.0
2013-01-05        43.0
2013-01-06        43.0

In [31]:
#events_per_day = pd.DataFrame({'date': rng, 'events': first_item['unit_sales']})  
#first_item.plot(y='unit_sales', kind='line', figsize=(20,10))